.header-immaculate {
    display: flex;
    color: white;
    width: 100vw;
    align-items: center;
    padding-left: 30px;
    margin-top: -5px;
}

.header-logo {
    margin: 10px;
    width: 30px;
    height: 30px;
}

.header-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.header-subtext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    margin-left: 10px;
    color: rgb(197, 197, 197)
}

.header-icon {
    align-self: center;
    margin-left: auto;
    margin-right: 40px;
    font-weight: bold;
    border-radius:50%;
}

.header-icon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.1);
}