.search-result {
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .search-result:hover {
    background-color: #39475a;
  }

  .sprite-image {
    align-self: center;
    justify-self: center;
    max-width: 100px;
    height: 90px;
  }

  .pokemon-name {
    font-weight: bold;
    align-self: center;
  }

  .select-pokemon {
    background-color: rgb(22 163 74);
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 50%;
    align-self: center;
    justify-self: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
  }

  .select-pokemon:hover {
    
    background-color: rgb(25, 180, 82);
  }

  @media (max-width: 414px) {
    .select-pokemon{
        width: 60px;
    }
}